# MongoDB Configuration
MONGODB_URI="Enter your connection string"
MONGODB_DB="Photos-Database"
MONGODB_COLLECTION="Drishya-App"

# Admin Configuration
ADMIN_USERNAME="$2a$12$IYoMP36iiGJsWEIZeGzEceuTNyIILjz9SVvM4UExsPLJRvR/KWnv2"
ADMIN_PASSWORD="$2a$12$MGvU.eEKq1dVjzqQtFhmO.bvVxldKBDuSTzUSkoEMxYzuAF0jtCte"
ADMIN_EMAIL="$2a$12$bdA/4qDc5mUSkFcgBnMvvuhLtVGwYj03.2SyNfl0HObZeH8XlrZ0S"
